body {
  margin: 2em 5em;
  background-image: linear-gradient(PaleTurquoise, MediumTurquoise, Green);
}
.uno {color:black;}
h1 {color:red;}
#dos {color:black;
  font-size: small;
}
#tres {color:purple;}
#fly-photo {
  width: 850px;
  height: 200px;

}

.centered-p { text-align: center;}

#a {font-weight: bold;
font-size: large;
}
.uno {font-size: large;}
.h {font-size: x-large;
}

.right-photo { text-align: center;}
.gondola {
  width: 600px;
}
.peggy {
  width: 600px;
}
.grancanal {
  width: 600px;
}
.islas {
  width: 600px;
  height: 300px;
}
#torcello {
  width: 450px;
  height: 300px;
}
table,td {border: medium solid black; padding: 0,15em; text-align: center;}
